{% extends 'home/base.html' %} 

{% block homeactive %} active {% endblock homeactive %} 

{% block title %} Home {% endblock %} 

{% block body %}
<div class="container">

  <div class="jumbotron">
    <div class="Image">
      <img
        class="img-responsive rounded-circle z-depth-2"
        alt="100x100"
        src="/media/displayImage/DisplayP.JPG"
        data-holder-rendered="true"
        />
    </div>
    <div class="text-center">
      <h3 style="font-size: clamp(20px, 5vw, 34px);" class="animate-charcter"> Abdul Rehman Sarfaraz</h3>
      <div class="text-box">
        <div style="font-size: clamp(15px, 5vw, 34px);" class="text-reveal-wrapper">
             <p>I'am</p>
             <div class="text-reveal-words">
                 <span></span>
                 <span>React.Js Developer</span>
                 <span>Python Developer</span>
                 <span>Full Stack Developer</span>
             </div>
        </div>
        <div class="row">
          <div class="DevItems">
            <img class="col-md-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
            <img class="col-md-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
            <img class="col-md-3"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
            <img class="col-md-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
            <img class="col-md-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
            <img class="col-md-3"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
            <img class="col-md-3"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" />
            <img class="col-md-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
            <img class="col-md-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />
          </div>

        </div>
     </div>
     
    </div>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <p class="lead">
      
        <a class=" shimmer-btn " href="#" role="button">Learn more</a>
      
    </p>
  </div>
  <br />

</div>
<hr>

<h1>Recent Blog Post</h1>
<hr>
<div class="container">

  {% for post in allPost %}
  <div class="blog-card">
    <div class="meta">
      <img class="photo" src="/media/{{ post.image }}"></img>
      <div class="card-img-overlay">
        <a href="#" class="btn btn-light btn-sm">{{post.category}}</a>
      </div>
      <ul class="details">
        <li class="author"><a href="#">{{post.author}}</a></li>
        <li class="date">{{post.pub_date}}</li>
        <li class="fa fa-eye"> 233 </li>
        <li class="tags">
          <ul>
            <li><a href="#">TAGS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{post.title}}</h1>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p> {{post.content | truncatechars:75 }}</p>
      <p class="read-more">
        <a href="/blog/{{post.slug}}">Read More</a>
      </p>
    </div>
  </div>
  {% endfor %}
  <div align="right">
    <a class="  btn btn-primary" href="{% url 'blog' %}" role="button">View more</a>
  </div>
  <hr>

  <!--ALT b ha-->

</div>

{% endblock %}
