{% extends 'home/base.html' %}

{% block projectsactive %}  active {% endblock projectsactive %}


{% block style %}
<style>


</style>


{% endblock style %}


{% block title %}
Projects
{% endblock %}

{% block body %}





<h1>PROJECTS!</h1>
<hr>


<!-- <div class="container">
    <hr>
    
        <section class="cards-styles">
    
            <article class="card-style1">
                {% load static %}
                <img src="/media/images/1229788.jpg"  class="thumbnail d-block w-100" alt="hmm">
                <div class="card_content">
                    <h3 class="card_title"> SCRIPTING WITH DJANGO </h3>
                    <span class="card_subtitle">1 june 2077</span>
                    <p class="card_description">best product you will even encounter wow!!</p>
                </div>
            </article>
        
    
        </section>
    
    
    
    
        <hr>
    </div> -->



<div class="container" >
    <article>
        <h1 >Sorry for Inconvinience!</h1>
        <div>
            <p style="color: #8425b0;" > This Portion of website is under maintenance but no worries u still can
                visit my <b> 
                    <a style="color: purple "href="https://github.com/Dev-Hooman">GITHUB</a> 

                </b>
                and check out amazing projects that i've build
            </p>
            <p style="color: #8425b0;"  >&mdash; AbdulRehman Sarfaraz</p>
            
        </div>

    </article>
    
</div>


{% endblock %}