{% extends 'home/base.html' %}

{% block projectsactive %}  active {% endblock projectsactive %}

{% block title %}
Projects
{% endblock %}

{% block body %}



<h1>PROJECTS!</h1>

<div class="container">
<hr>

    <section class="cards-styles">

        <article class="card-style1">
            {% load static %}
            <img src="/media/images/1229788.jpg"  class="thumbnail d-block w-100" alt="hmm">
            <div class="card_content">
                <h3 class="card_title"> SCRIPTING WITH DJANGO </h3>
                <span class="card_subtitle">1 june 2077</span>
                <p class="card_description">best product you will even encounter wow!!</p>
            </div>
        </article>
    

    </section>





</div>


{% endblock %}